@import model._
@(daily: Array[_ <: model.Daily])

<!DOCTYPE HTML>
<html>

    <head>
        <script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "@{daily(0).getId() + " " + daily(0).date +  "-" + daily.last.date()}",
		},
		exportEnabled: true,
		axisY: {
			includeZero: false,
			prefix: "@{""}",
		},
		axisX: {
			valueFormatString: "DD-MMM",
		},
		data: [
		    {
			    type: "candlestick",
			    dataPoints: [
			        @for(i <- 0 to daily.length - 1) {
					    {x: new Date(@daily(i).date.split("-")(0), @( (daily(i).date.split("-")(1).toInt - 1)), @daily(i).date.split("-")(2))
					        , y:[@daily(i).adjustedOpen(), @daily(i).adjustedHigh(), @daily(i).adjustedLow(), @daily(i).adjustedClose]},
		            }
			    ]
		    }
		]
	});
	chart.render();
}
</script>
        <script type="text/javascript" src="/assets/script/canvasjs.min.js"></script>
    </head>
    <body>
        <div id="chartContainer" ></div>
		<br/>

	</body>


</html>

